<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->


<html>
  <head>

  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
  </head>
<body id="LoginForm">
<div class="container">
<h1 class="form-heading">login Form</h1>
<div class="login-form">
<div class="main-div">
    <div class="panel">
   <h2>Admin Login</h2>
   <p>Please enter your email and password</p>
   </div>
   <div class="background-wrap">
    <div class="background"></div>
  </div>
 

  <form #logForm="ngForm" (ngSubmit)="onLogin(logForm)" >
  <h1 id="litheader"></h1>
    <div class="inset">
      <div class="form-group">
        <label for="username">username</label>
        <input type="text" ngModel name="username" class="form-control" id="username" placeholders="username" required >
      </div>
      <div class="form-group">
        <label for="password">password</label>
        <input type="password" ngModel name="password" class="form-control" id="password" placeholders="password" required >
      </div>
      
      

    </div>
    <div class="modal-footer">
      <button type="button" id="add-employee-form" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
      <button [disabled]="logForm.invalid" type="submit" class="btn btn-primary">Confimer les changements</button>
    </div>
  </form>



    </div>
</div>


